@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('./fonts/Roboto-Thin.ttf');
}


:root {
    --primary-color: #eeb448;
    --background-color: #1e1c1f;
    --secondary-background-color: #312f34;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    font-family: 'Roboto-Light', 'sans-serif';
}

nav {
    display: grid;
    grid-auto-flow: column;
    color: white;
    justify-content: center;
    font-weight: bolder;
    gap: 10px;
    margin-bottom: 25px;
}

nav button {
    background-color: var(--background-color);
    color: white;
    border: none;
    font-size: 1.5rem;
}

nav :hover {
    color:  var(--primary-color);
    cursor: grab;
}

#content {
    height: 100%;
}

#homepage-container,
#contact-page {
    display: grid;
    color: white;
    background-color: var(--secondary-background-color);
    box-shadow: 0px 6px 8px #0c0a0b;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
    align-items: center;
    height: 70%;
    padding-left: 55px;
}
#homepage-container > div > h1 {
    margin: 0;
    font-size: 4rem;
    color: var(--primary-color);
    font-family: 'Roboto-Thin', 'sans-serif';

}

#homepage-container p {
    margin-top: 35px;
    width: min(45ch, 100%);
    line-height: 1.5rem;
}

#logo {
    background: center/100% no-repeat url('./img/logo.png');
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 60%;
}

/* Contact Page */

#contact-page {
    align-items: normal;
    align-content: center;
}

#contact-page textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    height: 100px;
}

#contact-page h1,
#contact-page h2 {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: 'Roboto-Thin', 'sans-serif';

}

#contact-page h2 {
    margin-top: 25px;
    margin-bottom: 5px;
}

#contact-page p {
    margin-top: 0;
    margin-bottom: 2px;
}

#contact-page button {
    background-color:var(--background-color);
    color: var(--primary-color);
    font-size: 1rem;
    padding: 5px 35px;
    border: none;
    box-shadow:0px 5px 5px var(--background-color);
    border-radius: 7px;
}

#contact-page button:hover{
   position: relative;
   top: -2px;
   cursor: grab;
}

